:root {
  --primary-color: #ffffff;
  --primary-text-color: #2e2f42;
  --second-text-color: #434455;
  --hover-effect-color: #5861c3;
  --backgrounds-color: #f4f4fd;
  --botton-background-color: #404bbf;
  --botton-hover-color: #4d5ae5;
  --footer-p-color: #e7e9fc;
  --second-font-weight: 500;
  --header-font-weight: 700;
  --primary-width: 1440px;
  --primary-padding-top: 8px;
  --primary-margin-bottom: 32px;
}

/* common style values */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-line: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: var(--primary-width);

  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: var(--primary-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
}

.section {
  /* padding-top: 120px; */
  padding-bottom: 120px;
}

h2 {
  text-align: center;
}

/* header block */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

  border-bottom: var(--primary-text-color);
}

.header .container {
  display: flex;
}

.header-logo {
  margin-right: 77px;
}

.logo-part1,
.logo-part2 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}

.logo-part1,
/* .logo-part2, */
.navigation-link,
.address-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-part1 {
  color: var(--hover-effect-color);
}

.logo-part2 {
  color: var(--primary-text-color);
}

.logo-part1:hover,
.logo-part1:hover,
.address-header:hover,
.logo-part1:focus,
.logo-part1:focus,
.address-header:focus {
  color: var(--hover-effect-color);
}

.navigation-list {
  display: flex;
}

.navigation-item+.navigation-item {
  margin-left: 40px;
}

.navigation-link {
  font-weight: var(--second-font-weight);
  color: var(--primary-text-color);
  text-decoration-line: none;
  line-height: 1.5;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--second-text-color);
}

.navigation-link:active {
  color: var(--botton-hover-color);
}

.container-address {
  margin-left: auto;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.address-header {
  color: var(--second-text-color);
  line-height: 1.5;
}

.address-list {
  display: flex;
  margin-left: auto;
}



/* -------------------------------------------------------------------- */




/* for "Main Page" page */
.main .section {
  background-color: aqua;
}

.hero {
  text-align: center;
  width: var(--primary-width);
}

.hero,
.footer {
  background-color: var(--primary-text-color);
}

/* .container .hero {
  display: block;
  justify-content: center;
} */

/* .hero-header {
  margin-top: 100px;
  color: var(--primary-color);
} */

.site-theme {
  padding-top: 192px;

  font-weight: var(--header-font-weight);
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-color);
}

.hero .filter-button {
  display: inline;
  text-align: center;

  width: 170px;
  height: 51px;
  margin-top: 48px;
  margin-bottom: 192px;

  line-height: 1.17;
  background-color: var(--hover-effect-color);
  color: var(--primary-color);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.hero .filter-button:hover,
.hero .filter-button:focus {
  background-color: var(--hover-effect-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero .filter-button:active {
  background-color: var(--botton-background-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-button {
  font-family: inherit;
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--backgrounds-color);
  color: var(--botton-hover-color);
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* 
.peculiarities .container {
  display: flex;
  flex-wrap: wrap;
}
 */

.peculiarities-list,
.service-list,
.team-cards-list {
  display: flex;
}

.peculiarities,
.service,
.portfolio-main {
  /* display: flex; */
  /* flex-wrap: wrap; */
  background-color: var(--primary-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-section {
  text-align: center;
  margin-bottom: 72px;

  font-weight: var(--header-font-weight);
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color);
}

.list-header {
  font-weight: var(--header-font-weight);
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.paragraph-text {
  padding-top: var(--primary-padding-top);
  color: var(--second-text-color);
}

.peculiarities-item:not(:last-child),
.service-item:not(:last-child),
.team-cards-item:not(:last-child) {
  margin-right: 24px;
}

.paragraph-text,
.text-explanation {
  font-size: 16px;
  line-height: 1.5;
  /* color: var(--primary-text-color); */
}

/* .header-section {
  font-weight: var(--header-font-weight);
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color);
} */

.team-cards {
  text-align: center;
  background-color: var(--backgrounds-color);
}

.team-cards-list .card {
  background-color: var(--primary-color);
}

.list-header {
  margin-top: var(--primary-margin-bottom);
}

.card .paragraph-text {
  margin-bottom: var(--primary-margin-bottom);
}

/* for footer */
.footer .logo-part2 {
  color: var(--backgrounds-color);
}

.footer .logo-part1,
.footer .logo-part2 {
  line-height: 1.174px;
}

.text-explanation {
  color: var(--footer-p-color);
}

/* for "Portfolio" page*/
.portfolio-main {
  color: var(--primary-text-color);
}

.portfolio-main .filter-button:hover,
.portfolio-main .filter-button:focus {
  background-color: var(--botton-hover-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}












/* text-align: center;
  align-items: center;
  justify-content: center; */


/* 
.address-container {
  margin-left: auto;
} */

/* .section .hero {
  margin-top: 120px;
} */

/* .section .hero {
  display: block;
  text-align: center;
  justify-content: center;
} */

/* .container .hero {
  text-align: center;
  align-items: center;
  justify-content: center;
} */