:root {
  --primary-color: #ffffff;
  --primary-text-color: #2e2f42;
  --second-text-color: #434455;
  --hover-effect-color: #5861c3;
  --backgrounds-color: #f4f4fd;
  --botton-background-color: #404bbf;
  --botton-hover-color: #4d5ae5;
  --footer-p-color: #e7e9fc;
  --second-font-weight: 500;
  --header-font-weight: 700;
}

body {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: var(--primary-color);
}

/* common style values */
ul {
  list-style: none;
}

a {
  text-decoration-line: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.navigation-list,
.nav-container {
  display: flex;
  margin: 0;
}

.address-list {
  display: flex;
}

.header-section {
  font-weight: var(--header-font-weight);
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color);
}

.list-header {
  font-weight: var(--header-font-weight);
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.paragraph-text {
  color: var(--second-text-color);
}

/* header block */
.header {
  display: flex;
  margin: 24px auto;


  background-color: var(--primary-color);
}

.logo-part1,
.logo-part2 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}

.logo-part1 {
  color: var(--hover-effect-color);
}

.logo-part2 {
  color: var(--primary-text-color);
}

.navigation-link {
  font-weight: var(--second-font-weight);
  color: var(--primary-text-color);
  text-decoration-line: none;
  line-height: 1.5;
}

.header-logo {
  margin-left: 156px;
  margin-right: 77px;
}

/* .navigation-link {
  margin-right: 40px;
}

.navigation-item:last-child {
  margin-right: 0;
} */

.navigation-item:not(:last-child) {
  margin-right: 40px;
}

/* .navigation-link:last-child {
  margin-right: 0;
} */

.logo-part1:hover,
.logo-part1:hover,
.address-header:hover,
.logo-part1:focus,
.logo-part1:focus,
.address-header:focus {
  color: var(--hover-effect-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--second-text-color);
}

.navigation-link:active {
  color: var(--botton-hover-color);
}

.address-header {
  color: var(--second-text-color);
  line-height: 1.5;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.hero,
.footer {
  background-color: var(--primary-text-color);
}

.site-theme {
  font-weight: var(--header-font-weight);
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-color);
}

.peculiarities,
.service,
.portfolio-main {
  background-color: var(--primary-color);
}

/* for "Main Page" page */
.filter-button {
  font-family: inherit;
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--backgrounds-color);
  color: var(--botton-hover-color);
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero .filter-button {
  line-height: 1.17;
  background-color: var(--hover-effect-color);
  color: var(--primary-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .filter-button:hover,
.hero .filter-button:focus {
  background-color: var(--hover-effect-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero .filter-button:active {
  background-color: var(--botton-background-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.team-cards {
  background-color: var(--backgrounds-color);
}

.card {
  background-color: var(--primary-color);
}

.paragraph-text,
.text-explanation {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.text-explanation {
  color: var(--backgrounds-color);
}

/* for footer */
.footer .logo-part2 {
  color: var(--backgrounds-color);
}

.footer .text-explanation {
  color: var(--footer-p-color);
}

.footer .logo-part1,
.footer .logo-part2 {
  line-height: 1.174px;
}

/* for "Portfolio" page*/
.portfolio-main {
  color: var(--primary-text-color);
}

.portfolio-main .filter-button:hover,
.portfolio-main .filter-button:focus {
  background-color: var(--botton-hover-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}